.error-message {
  display: flex;
  text-align: center;
  font-family: Roboto;
  justify-content: center;
  align-items: center;
  background: var(--warning);
  color: white;
  position: absolute;
  opacity: 0;
  bottom: -40px;
  animation-name: appear-up;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-duration: 0.25s;
  animation-delay: 1s;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 1.1em;
}

.error-message > svg {
  font-size: 1.8em;
  text-align: left;
  margin-left: 10px;
  margin-right: 15px;
  color: var(--secondary);
}

.error-message__text {
  text-align: left;
}

@keyframes appear-up {
  from {
    opacity: 0;
    bottom: -40px;
  }
  to {
    opacity: 1;
    bottom: 0px;
  }
}
